* {
  margin: 5px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f6fa;
}

.app {
  width: 100%;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__title {
  font-size: 36px;
  font-weight: bolder;
  color: rebeccapurple;
}

.app__infoBoxContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.app__infoBox {
  width: 33.33%;
}
