* {
  margin: 5px;
}

.app {
  width: 100%;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__infoBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
